{% extends 'admin/master.html' %}
{% from "security/_macros.html" import render_field, render_field_with_errors, render_remember_field %}

{% block head_tail %}
{{ super() }}
<link href="{{ url_for('static', filename='css/login-soft.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/bootstrap-switch.min.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
{{ "徐州农用航空站通航信息化系统" }}
{% endblock %}

{% block page_body %}
<div class="logo">
  <a href="#">
    <img src="/static/img/login-logo.png" alt style="width: 360px">
  </a>
</div>
<div class="content">
  <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form" class="login-form">
    <h3 class="form-title">登入账户</h3>
    {{ login_user_form.hidden_tag() }}
    {{ render_field_with_errors(login_user_form.email, 'fa fa-user', '邮箱或用户名') }}
    {{ render_field_with_errors(login_user_form.password, 'fa fa-lock', '密码') }}
    {{ render_field(login_user_form.next) }}
    <div class="form-actions">
      {{ render_remember_field(login_user_form.remember) }}
      {{ login_user_form.submit(class_="btn blue pull-right", value="登录") }}
    </div>
  </form>
</div>
<div class="copyright">
    {{ copy_right }}
</div>
{% endblock %}

{% block tail %}
<script src="{{ url_for('static', filename='js/jquery.backstretch.min.js') }}" type="text/javascript"></script>
{{super()}}
<script>
 jQuery(document).ready(function() {
   $.backstretch([
     "/static/img/bg/1.png",
     // "/static/img/bg/2.jpg",
     // "/static/img/bg/3.jpg",
     // "/static/img/bg/4.jpg"
   ], {
     fade: 1000,
     duration: 8000
   });
   $('input[name="remember"]').click(function() {
     var parent = $(this).parent('span');
     var checked = parent.hasClass('checked');
     if (!checked) {
       parent.addClass('checked');
     } else {
       parent.removeClass('checked');
     }
   })
 });
</script>
{% endblock %}
