{% import 'admin/static.html' as admin_static with context%}
{% import 'admin/lib.html' as lib with context %}

{# store the jinja2 context for form_rules rendering logic #}
{% set render_ctx = h.resolve_ctx() %}

{% block body %}
<style>
  .icon-calendar:before,.icon-time:before{content:initial;}
   .bootstrap-datetimepicker-widget{z-index: 20000}
   .dropdown-menu{position: absolute;display: none;float: left;min-width: 160px;}
  li{list-style: none;}
  button.close{background-image: url(/static/img/remove-icon-small.png);}
</style>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
    {% block header_text %}<h3>{{ _gettext('Create New Record') }}</h3>{% endblock %}
  </div>
  <div class="modal-body">
    <input type="hidden" value="{{ current_user}}" id="auth">
    {# "save and add" button is removed from modal (it won't function properly) #}
    {% block create_form %}
      {{ lib.render_form(form, return_url, extra=None, form_opts=form_opts,
                         action=url_for('.create_view', url=return_url, sub=sub, type=type),
                         is_modal=True) }}
      
    {% endblock %}
  </div>
{% endblock %}

{% block tail %}
  <script src="{{ admin_static.url(filename='admin/js/bs3_modal.js', v='1.0.0') }}">
  </script>
  <script src="{{ url_for('static', filename='js/str_date.js') }}"></script>
  <script src="{{ url_for('static', filename='js/datetimepicker.zh-cn.js') }}"></script>
  <script type="text/javascript">
  jQuery(document).ready(function() {
    var basicId = location.href.split('id=')[1].split('&')[0]
    var action = $(".modal-body .admin-form").attr('action')
    if(action){
        if(action.indexOf('basicId') < 0){
          $(".modal-body .admin-form").attr('action', action+'&basicId='+basicId)
        }
    }
    $('.popup-link').magnificPopup({
      type: 'image'
    });

    $(".datepicker-inline").hide()
    $(".input-append,.input-medium").css({
      'width':'240px',
      'position': 'relative',
      'display': 'table',
      'border-collapse':'separate',
    })
    var url = location.href
    var planeType = location.href.split('flt_1=')[1].split('&')[0]
    var aircraftId = location.href.split('flt_0=')[1].split('&')[0]
    $('#aircraftType').attr('readonly','readonly').val(planeType)
    $('#aircraftId').attr('readonly','readonly').val(aircraftId)
  });

  $(function(){
    sub = location.href.split('sub=')[1].split('&')[0]
    if(sub == 'flightlog'){
      $("#formMaker").val($("#auth").val())
      $("[name='formMakeTime']").parent().parent().parent().hide()
      $("[name='formMakeTime']").val(getNowFormatDate())
      $(".admin-form").submit(function(){
        $("#flightTime").val($("#hidden_flightTime").val())
        $("#engineTime").val($("#hidden_engineTime").val())
      })
    }
  })

  </script>
{% endblock %}
