{% import 'admin/static.html' as admin_static with context%}
{% import 'admin/lib.html' as lib with context %}

{# store the jinja2 context for form_rules rendering logic #}
{% set render_ctx = h.resolve_ctx() %}

{% block body %}
<style>
  .icon-calendar:before,.icon-time:before{content:initial;}
   .bootstrap-datetimepicker-widget{z-index: 20000}
   .dropdown-menu{position: absolute;display: none;float: left;min-width: 160px;}
  li{list-style: none;}
  button.close{background-image: url(/static/img/remove-icon-small.png);}
</style>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
    {% block header_text %}
      <h3>{{ _gettext('Edit Record')}}{{SS}}</h3>
    {% endblock %}
  </div>
  <div class="modal-body">
  <input type="hidden" value="{{ current_user}}" id="auth">
    {# "save and continue" button is removed from modal (it won't function properly) #}
    {% block edit_form %}
      {{ lib.render_form(form, return_url, extra=None, form_opts=form_opts,
      action=url_for('.edit_view', id=request.args.get('id'), url=url_for('.edit_view', url=return_url, sub=sub, modal=True), sub=sub, type=type),
      is_modal=True) }}
    {% endblock %}
  </div>
{% endblock %}

{% block tail %}
  <script src="{{ admin_static.url(filename='admin/js/bs3_modal.js', v='1.0.0') }}">
  </script>
  <script src="{{ url_for('static', filename='js/str_date.js') }}"></script>
  <script src="{{ url_for('static', filename='js/datetimepicker.zh-cn.js') }}"></script>
  <script type="text/javascript">
  jQuery(document).ready(function() {
    sub = location.href.split('sub=')[1].split('&')[0]
    if(sub == 'flightlog'){
      $("#modifier").val($("#auth").val())
      $("[name='modifyTime'],[name='formMakeTime']").parent().parent().parent().hide()
      $("[name='modifyTime']").val(getNowFormatDate())

      var minutes = parseInt($("#flightTime").val())
      hiddenStr = '<input id="hidden_flightTime" type="hidden" value="'+minutes+'">'
      $("#flightTime").parent().append(hiddenStr)
      str = minutesToHS(minutes)
      $("#flightTime").val(str)

      var e_minutes = parseInt($("#engineTime").val())
      e_hiddenStr = '<input id="hidden_engineTime" type="hidden" value="'+e_minutes+'">'
      $("#engineTime").parent().append(e_hiddenStr)
      e_str =  minutesToHS(e_minutes)
      $("#engineTime").val(e_str)

      $(".admin-form").submit(function(){
        $("#flightTime").val($("#hidden_flightTime").val())
        $("#engineTime").val($("#hidden_engineTime").val())
      })
    }
    
    var basicId = location.href.split('id=')[1].split('&')[0]
    var action = $(".modal-body .admin-form").attr('action')
    if(action){
        if(action.indexOf('basicId') < 0){
          $(".modal-body .admin-form").attr('action', action+'&basicId='+basicId)
        }
    }
    $(".input-append,.input-medium").css({
      'width':'240px',
      'position': 'relative',
      'display': 'table',
      'border-collapse':'separate',
    })
    $("#aircraftId,#id").attr('readonly','readonly')
    $("#aircraftType,#planeType").attr('disabled','disabled')
    $("[name='flightDate'],[name='logTime']").attr('readonly','readonly')
  });
  $(".admin-form").submit(function(){
    $("[disabled=disabled]").removeAttr('disabled').attr('readonly','readonly')
  })

  </script>
{% endblock %}