{% extends 'layout.html' %}
{% from './lib.html' import popup_form  as cp_form with context%}
{% block body %}
<style>
 td {
   overflow: hidden;
   text-overflow:ellipsis;
   white-space: nowrap;
 }
</style>
<!-- BEGIN INLINE NOTIFICATIONS PORTLET-->
<div class="row">
<div class="col-md-6">
    {# <!-- BEGIN POPOVERS PORTLET-->
    <!-- <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-volume-up"></i>通知公告
            </div>
        </div>
        <div class="portlet-body">
            <ul class="list-group" style="list-style: none">
            {% for x in notifies  %}
                {% if loop.index <= 5%}
                    <li>
                        <a href="/admin/notice" class="list-group-item list-group-item-info">
                            <span class="label list-group-item-info">{{ x.id }}</span>
                            <span class="label list-group-item-info">{{ x.title }}</span>
                            <span class="badge badge-warning">
                                {{ x.pubTime|uniform_datetime_to_day }}
                            </span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div> --> #}
    <!-- BEGIN POPOVERS PORTLET-->
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-calendar"></i>质量控制
            </div>
        </div>
        <div class="portlet-body">
        {% if not predicts %}
            <span class="label label-default">暂时不存在任何到期内容项</span>
        {% else %}
            <div class="clearfix">
                <table class="table" style="table-layout: fixed">
                    <thead>
                    <tr>
                        <th class="col-md-3">
                          飞机号
                        </th>
                        <th class="col-md-2">
                          编号
                        </th>
                        <th class="col-md-3">
                          内容
                        </th>
                        <th class="col-md-4">
                          预计检查日期
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for predict_item in predicts %}
                    <tr>
                        <td class="popovers" data-container="body" data-trigger="hover" data-placement="bottom" data-content="{{ predict_item['planeId'] }}">
                            {% if predict_item['role'] %}
                                <a href="{{ get_url('aircraft_informationview.aircraft_details_view', id=predict_item['id'], sub='due_list')  }}">
                                   {{ predict_item['planeId'] }} 
                                </a>
                            {% else %}
                                {{ predict_item['planeId'] }}
                            {% endif %}
                        </td>
                        <td class="popovers" data-container="body" data-trigger="hover" data-placement="bottom" data-content="{{ predict_item['mxId'] }}">
                          {{ predict_item['mxId'] }}
                        </td>
                        <td class="popovers" data-container="body" data-trigger="hover" data-placement="bottom" data-content="{{ predict_item['description'] }}">
                          {{ predict_item['description'] }}
                        </td>
                        <td class="popovers" data-container="body" data-trigger="hover" data-placement="bottom" data-content="{{ predict_item['earliest'] }}">
                           {{ predict_item['earliest'] }}
                        </td>
                        <td class="col-warningLevel" style="display: none">
                            {{ predict_item['level'] }}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="col-md-6">
    <!-- BEGIN POPOVERS PORTLET-->
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-list"></i>待办事项
            </div>
        </div>
        <div class="portlet-body">
          {% if not todo_list %}
            <span class="label label-default">暂时不存在任何您需要执行的待办事项</span>
          {% else %}
            <table class="table" style="table-layout: fixed">
            <thead>
            <tr>
                <th>
                  表单类型
                </th>
                <th>
                  表单编号
                </th>
                <th>
                  状态
                </th>
            </tr>
            </thead>
            <tbody>
            {% for item in todo_list %}
              {% set inst = item.inst %}
              <tr>
                <td class="popovers" data-container="body" data-trigger="hover" data-placement="bottom" data-content="{{ item.title }}">
                  {{ item.title }}
                </td>
                <td class="popovers" data-container="body" data-trigger="hover" data-placement="bottom" data-content="{{ inst.business_id }}">
                  {% if inst.status == '待接收' %}
                    {{receive_row(inst.id, inst.business_id, inst,item.view)}}
                  {% elif inst.status in ['二级审批通过', '已复核', '已审批'] %}
                    <a href="{{ get_url('{}.index_view'.format(item.view), search=inst.business_id) }}">{{ inst.business_id }}</a>
                  {% else %}
                    <a href="{{ get_url('{}.action_view'.format(item.view), id=inst.id, verb=status_related_action[inst.status]) }}" >{{ inst.business_id }}</a>
                  {% endif %}
                </td>
                <td>
                  {{ inst.status }}
                </td>
              </tr>
            {% endfor %}
            {% endif %}
            </tbody>
            </table>
        </div>
    </div>
    <!-- <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-exclamation-triangle"></i>航材预警
            </div>
        </div>

        <div class="portlet-body">
        {% if airmaterial_perms %}
            <ul class="list-group">
                <li class="list-group-item">
                     Cras justo odio
                </li>
                <li class="list-group-item">
                     Dapibus ac facilisis in
                </li>
                <li class="list-group-item">
                     Morbi leo risus
                </li>
                <li class="list-group-item">
                     Porta ac consectetur ac
                </li>
                <li class="list-group-item">
                     Vestibulum at eros
                </li>
            </ul>
        {% endif %}
        </div>
    </div> -->
</div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-bell-o"></i>通知公告
                </div>
            </div>
            <div class="portlet-body">
                {% if not anno_list %}
                    <span class="label label-default">暂时没有任何通知</span>
                {% else %}
                    <table class="table" style="table-layout: fixed">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>标题</th>
                                <th>发送日期</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in anno_list %}
                        <tr>
                            <td class="">
                                {{ loop.index }}
                            </td>
                            <td class="" >
                                <a href="{{ url_for('announcement.details_view',id=item.id) }}" >{{ item.title }}</a>
                            </td>
                            <td>
                                {{ item.sendTime|uniform_datetime_to_day }}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{{ cp_form() }}
{% endblock %}

{% block tail %}
{{ super() }}
<script src="{{ url_for('static', filename='js/warnings_set_color.js') }}"></script>
<script src="{{ url_for('static', filename='js/custom_action.js') }}"></script>
{% endblock %}

{% macro choose_with_post(id, url, name, label='' , text='',  title='', annotation='') %}
<a type="button" onclick="return popup('{{ text }}', '{{ title }}', '{{ url }}', '{{ annotation }}');" title="{{ label }}"  data-toggle="modal" data-target="#myModal">
   {{ name }}
</a>
{% endmacro %}

{% macro receive_row(row_id, name, row, view) %}
{{ choose_with_post(row_id, get_url("{}.custom_action".format(view), action='receive', id=row_id), name, '接收', '确认要接收这条数据吗', '接收') }}
{% endmacro %}
