{% extends 'aircraft/layout.html' %}
{% import './lib.html' as custom_lib with context %}
{% import 'lib.html' as lib with context %}

{% block content %}
<style>
 td {
   overflow: hidden;
   text-overflow:ellipsis;
   white-space: nowrap;
 }
</style>
<div class="profile-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light" style="padding: 0">
                <div class="portlet-body" style="padding: 0">
                    <div class="tab-content">
                        <!-- PRIVACY SETTINGS TAB -->
                        {% if due_list_view %}
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-check"></i>质量控制
                                    </div>
                                    <div class="actions">
                                          {% if can_routine_work %}
                                            <a type="button" class="btn btn-default create_routine btn-sm" onclick="return getUrl('确认要新建例行工作吗', '新建例行工作', '{{ get_url('routinework.batch_create_view', planeid=model.id, planetype=model.planeType) }}', '');" title="新建例行工作"  data-toggle="modal" data-target="#myModal">
                                              <i class="fa fa-plus">新建例行工作</i>
                                            </a>
                                          {% endif %}

                                          <div class="btn-group ">
                                            <a class="btn btn-default btn-sm" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="true">
                                              <i class="fa fa-print">
                                              </i>
                                              打印
                                              <i class="fa fa-angle-down">
                                              </i>
                                            </a>
                                            <ul class="dropdown-menu" >
                                              <li>
                                                <a class="get_url" href="{{
                                                  get_url('.export', export_type=admin_view.export_types[1])}}">
                                                  打印全部
                                                </a>
                                              </li>
                                              <li>
                                                <a class="get_url" href="{{
                                                  get_url('.export', export_type=admin_view.export_types[1], export_page=page, export_size=20,
                                                  sub=sub,
                                                  search=search)}}">
                                                  打印当前页
                                                </a>
                                              </li>
                                            </ul>
                                          </div>


                                    </div>
                                </div>
                                <div class="portlet-body">
                                  <ul class="nav nav-tabs due_list_ul">
                                    {% for view in due_list_view %}
                                    <li>
                                      <a href="{{ get_url('.aircraft_details_view', id=model._id, sub='due_list', mxtype=view[0]) }}">{{ view[1] }}</a>
                                    </li>
                                    {% endfor %}
                                  </ul>
                                  <div class="tab-content">
                                    {{ custom_lib.render_table(admin_view, list_columns, data, get_value, list_row_actions, get_pk_value, row_actions, num_pages, page, page_size, pager_url) }}
                                  </div>
                                  <div class="clearfix margin-bottom-20">
                                  </div>
                                  <input type="hidden" id="RoutineWork" value="{{ can_routine_work}}">
                                </div>
                            </div>
                        {% endif %}
                        <!-- END PRIVACY SETTINGS TAB -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_tail %}
{% if not due_list_view %}
{# 这里需要弹出类似绑定状态设置的对话框，与绑定状态设置一样 #}
<script>$(function(){$('.btn-danger').click()})</script>
{% endif %}
<script src="{{ url_for('static', filename='js/warnings_set_color.js') }}"></script>

<script>
  $(function(){
    var url = location.href
    action = url.split('mxtype=')[1]
    id = url.split('id=')[1]
    if(action){
      action = action.split('&')[0]
      $(".get_url").each(function(){
        var href = $(this).attr('href')
        if(href.indexOf('mxtype') < 0){
          if(href.indexOf('?') < 0){

            href = href + '?mxtype=' + action
          }else{
            href = href + '&mxtype=' + action
          }
          $(this).attr('href', href)
        }
      })
    }
    if(id){
      id = id.split('&')[0]
      $(".get_url").each(function(){
        var href = $(this).attr('href')
        if(href.indexOf('id') < 0){
          if(href.indexOf('?') < 0){
            href = href + '?id=' + id
          }else{
            href = href + '&id=' + id
          }
          $(this).attr('href', href)
        }
      })
    }
    url = url.split('&page')[0]
    $(".pagination li a").each(function(){
      page_url = $(this).attr('href')
      if(page_url.indexOf('javascript') >= 0){
        return
      }
      page_url = page_url.split("page=")[1]
      if(page_url){
        page = page_url.split('&')[0]
        page_url = url + '&page=' + page
      }else{
        page_url = url
      }
      $(this).attr('href', page_url)
    })

    $(".create_routine").hide()
    $(".table-hover").css('table-layout','fixed')
     
    $("td").addClass('popovers').attr({
       'data-container':'body',
       'data-trigger':'hover',
       'data-placement':'bottom',
     });
     $("tr").each(function(k,v){
      if(location.href.indexOf('timecontrol')>0 || location.href.indexOf('lifecontrol')>0){
        $(this).find('td:eq(2)').attr('data-content', $.trim($(this).find('td:eq(2)').html()))
        $(this).find('td:eq(3)').attr('data-content', $.trim($(this).find('td:eq(3)').html()))
        $(this).find('td:eq(4)').attr('data-content', $.trim($(this).find('td:eq(4)').html()))
        $(this).find('td:eq(5)').attr('data-content', $.trim($(this).find('td:eq(5)').html()))
        $(this).find('td:eq(11)').attr('data-content', $.trim($(this).find('td:eq(11)').html()))
        $(this).find('td:eq(12)').attr('data-content', $.trim($(this).find('td:eq(12)').html()))
        $("th:eq(0)").css('width','50px')
        $("th:eq(1)").css('width','100px')
        $("th:eq(2)").css('width','100px')
        $("th:eq(3)").css('width','80px')
        $("th:eq(4)").css('width','150px')
        $("th:eq(5)").css('width','190px')
        $("th:eq(6)").css('width','70px')
        $("th:eq(7)").css('width','70px')
        $("th:eq(8)").css('width','60px')
        $("th:eq(9)").css('width','130px')
        $("th:eq(10)").css('width','130px')
        $("th:eq(11)").css('width','130px')
        $("th:eq(12)").css('width','130px')
      }else{
        $(this).find('td:eq(2)').attr('data-content', $.trim($(this).find('td:eq(2)').html()))
        $(this).find('td:eq(9)').attr('data-content', $.trim($(this).find('td:eq(9)').html()))
        $(this).find('td:eq(11)').attr('data-content', $.trim($(this).find('td:eq(11)').html()))
        $("th:eq(0)").css('width','50px')
        $("th:eq(1)").css('width','140px')
        $("th:eq(2)").css('width','200px')
        $("th:eq(3)").css('width','80px')
        $("th:eq(4)").css('width','80px')
        $("th:eq(5)").css('width','80px')
        $("th:eq(6)").css('width','130px')
        $("th:eq(7)").css('width','130px')
        $("th:eq(8)").css('width','80px')
        $("th:eq(9)").css('width','130px')
      }
      
       var id = $.trim($(this).find('td:eq(1)').html())
       $(this).find('td:eq(1)').attr('data-content', id)
     });

    if($('#RoutineWork').val() == 'True'){
      $("#table tr:first th:first").addClass('col-checkbox').html("<div class='checker'><span class='toggle'><input type='checkbox'></span></div>")
      $(".toggle").toggle(
        function(){
          $(".toggle").addClass('checked')
          $("td.col-checkbox span").each(function(){
            if(!$(this).attr('class')){
              $(this).find('input').click()
            }
          })
        },
        function(){
          $(".toggle").removeClass('checked')
          $("td.col-checkbox span").each(function(){
            if($(this).attr('class')){
              $(this).find('input').click()
            }
          })
        }
      )
    }else{
      $(".col-checkbox").hide()
      $("#table tr:first th:first").hide()
    }
    var count = 0;
    var oldPn
    url = location.href
    if(url.indexOf('timestamp')<=0){
      reloadUrl = url + "&timestamp=" + new Date().getTime();
    }else{
      time = new Date().getTime()
      reloadUrl = url.replace(/(^\d{10,15}$)/, time)
    }

      $("td.col-checkbox span").click(function(){
        var pn = $.trim($(this).parent().parent().next().next().html())
        if (oldPn){
          if (oldPn != pn){
            $(".create_routine").hide()
            $("input").attr('disabled', 'disabled')
            alert('不支持创建不同件号的例行工作')
            window.location.href=reloadUrl
            return false
          }
        }
        oldPn = pn
        if($(this).attr('class')){
          var boundedId = $(this).find('input').val()
          if($("#popForm").attr('action').indexOf(boundedId) < 0){
            $("#popForm").attr('action',$("#popForm").attr('action') + '&boundedid=' + boundedId)
          }
          count++
        }else{
          var boundedId = $(this).find('input').val()
          if($("#popForm").attr('action').indexOf(boundedId) >= 0){
            var action = $("#popForm").attr('action')
            var front = action.split('&boundedid='+boundedId)[0]
            var behind = action.split('&boundedid='+boundedId)[1]
            var str = front + behind
            $("#popForm").attr('action', str)
          }
          count--
        }
        if(count > 0){
          $(".create_routine").show()
        }else{
          oldPn = ''
          $(".create_routine").hide()
        }
      })


  })
  function getUrl(text, title, url){
    action = $("#popForm").attr('action')
    if(action.indexOf('routinework') < 0){
      str = url + action
      $("#popForm").attr('action', str)
      return popup(text, title, str)
    }else{
      str = $("#popForm").attr('action')
      return popup(text, title, str)
    }
  }
</script>
{% endblock %}
