{% extends 'storage/warning.html' %}

{% block model_menu_actions %}
<div class="actions">
    {% if admin_view.can_scrap %}
    <a href="#" onclick="multiClick('scrap', getExpWarnUrl)" class="btn btn-default btn-sm">
        <i class="fa fa-plus"></i>
        {{ _gettext('报废单') }}
    </a>
    {% endif %}
</div>
{% endblock %}

{% block tail %}
    {{ super() }}
    <script type="text/javascript">
        function getExpWarnUrl() {
            return "{{ get_url('expirewarning.multi_checkbox_redirect', url=return_url) }}"
        }
    </script>
{% endblock %}