{% extends 'list.html' %}
{% import 'storage/lib.html' as cont with context%}
{% block model_menu_title %}
    {{ admin_view.name|capitalize}}
{% endblock %}

{% block model_menu_actions %}
<div class="actions">
    {% if admin_view.can_purchase %}
    <a href="#" onclick="multiClick('purchase', getCategoryUrl)" class="btn btn-default btn-sm">
        <i class="fa fa-plus"></i>
        {{ _gettext('采购申请') }}
    </a>
    {% endif %} {% if admin_view.can_lend %}
    <a href="#" onclick="multiClick('lend', getCategoryUrl)" class="btn btn-default btn-sm">
        <i class="fa fa-plus"></i>
        {{ _gettext('借入申请') }}
    </a>
    {% endif %} {% if admin_view.can_create %}
    <a href="{{ get_url('.create_view', url=return_url) }}" class="btn btn-default btn-sm">
        <i class="fa fa-plus"></i>
        {{ _gettext('Create') }}
    </a>
    {% endif %}
</div>
{% endblock %}

{% block model_list_table %}
    {% if filters %}
    <div class="row">
        <div class="col-md-12">
            {{ ctx.filter_form() }}
        </div>
    </div>
    {% endif %}
    {% set lvs = levels %}
    {{ cont.render_table_with_color(lvs, admin_view, list_columns,
            data, get_value, list_row_actions,
            get_pk_value, row_actions, num_pages, page, page_size, pager_url) }}

    <div class="modal fade" id="fa_modal_window" tabindex="-1"
        role="dialog" aria-labelledby="fa_modal_label" data-focus-on="input:first"
        data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}

{% block tail %}
    {{ super() }}
    <script type="text/javascript">
        function getCategoryUrl() {
            return "{{ get_url('stockwarning.multi_checkbox_redirect', url=return_url) }}"
        }
    </script>
{% endblock %}