{% extends 'list.html' %}
{% import 'admin/lib.html' as lib with context %}
{% import './lib.html' as local_lib with context %}
{% from './lib.html' import popup_form  as cp_form with context%}

{% block head %}
  {{ super() }}
  {{ lib.form_css() }}
{% endblock %}

{% block model_menu_title %}
编辑 - {{ admin_view.name|capitalize }}
{% endblock %}

{% block model_menu_actions %}
{% endblock %}

{% block model_list_table %}
<div class="portlet-body form">
  {% block create_form scoped %}
    <form action="{{ action or '' }}" method="POST" role="form" class="admin-form form-horizontal form-bordered form-row-stripped" enctype="multipart/form-data">
      <div class="form-body">
        {{ local_lib.render_form_fields(form, 4, one_line_columns, form_opts=form_opts) }}
      </div>
      <div class="form-actions">
        <div class="row">
          <div class="col-md-offset-4 col-md-9">
            {% if agreed %}
          <input type="submit" class="btn btn-primary" value="{{ agreed[0] }}" name="{{ agreed[1] }}" />
          {% endif %}

          <a href="{{ cancel_url }}" class="btn default" role="button">{{ _gettext('Cancel') }}</a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          {% if refuse %}
            <input type="submit" class="btn red-pink" value="{{ refuse[0] }}" name="{{ refuse[1] }}" onclick="javascript:if(confirm('完成以后不能再修改，是否确定?')){return true;}return false;" />
          {% endif %}
      </div>
    </div>
      </div>
    </form>
  {% endblock %}
</div>
{{ cp_form() }}
{% endblock %}

{% block list_pager %}{% endblock %}

{% block tail %}
{{ super() }}
<script src="{{ url_for('static', filename='js/select_planeType.js') }}" type="text/javascript"></script>
  <script type="text/javascript">
    $("#serialNum").attr('readonly','true')
  </script>

{% endblock %}