{% macro tools_dropdown(actions, btn_class='btn btn-default btn-sm') %}
<div class="btn-group">
  <a class="{{ btn_class }}" data-toggle="dropdown" href="javascript:;">
    <i class="fa fa-cogs"></i>
    {{_gettext('操作')}}
    <i class="fa fa-angle-down"></i>
  </a>

  <ul class="dropdown-menu pull-right">
    {% for p in actions %}
    <li>
      <a href="javascript: void(0)" onclick="return modelActions.execute('{{ p[0] }}');">{{ _gettext(p[1]) }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endmacro %}

{% macro filter_options(btn_class='btn btn-default btn-sm') %}
<div class="btn-group">
  <a class="{{ btn_class }}" data-toggle="dropdown" href="javascript:void(0)">
    <i class="fa fa-filter"></i>
    {{ _gettext('过滤器') }}
    <i class="fa fa-angle-down"></i>
  </a>
  <ul class="dropdown-menu pull-right field-filters ">
    {% for k in filter_groups %}
    <li>
      <a href="javascript:void(0)" class="filter" onclick="return false;">{{ k }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endmacro %}
