{% extends 'admin/model/list.html' %}
{% import 'admin/model/layout.html' as model_layout with context %}
{% import 'actions.html' as act with context %}
{% import './lib.html' as custom_lib with context %}

{% block head %}
{{super()}}
<link href="{{ url_for('static', filename='css/magnific-popup.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/bootstrap-switch.min.css') }}" rel="stylesheet">
<style>
 div.dataTables_paginate {
   float: right;
   margin: 0;
 }

 .table .btn.btn-group-item {
   margin-right: 0px;
 }

 .table .btn-group.btn-group-xs .btn {
   padding: 1px 5px;
   font-size: 12px;
   line-height: 1.5;
   border-radius: 3px;
 }

 .table .btn-group.btn-group-xs .btn:last-child:not(:first-child) {
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
 }
</style>
{% endblock %}

{% block body %}

{% if admin_view.box_color %}
{% set box_color = admin_view.box_color %}
{% else %}
{% set box_color = 'green' %}
{% endif %}

{% if admin_view.menu_icon_value %}
{% set icon_value = admin_view.menu_icon_value %}
{% else %}
{% set icon_value = 'fa-cogs' %}
{% endif %}

<div class="portlet box {{ box_color }}">
  {% block model_menu_bar %}
  <div class="portlet-title">
    <div class="caption">
      <i class="fa {{ icon_value }}"></i>
      {% block model_menu_title %}
      {{ admin_view.name|capitalize }} 
      {#{% if count %}[{{count}}]{% endif %}#}
      {% endblock %}
    </div>

    {% block model_menu_actions %}
    <div class="actions">
      {% if admin_view.can_create %}
      <!-- TODO: 弹出模态对话框 -->
      <a href="{{ get_url('.create_view', url=return_url) }}" class="btn btn-default btn-sm">
        <i class="fa fa-plus"></i>
        {{ _gettext('Create') }}
      </a>
      {% endif %}

      {% if admin_view.can_export %}
        {% if admin_view.export_types|length > 0 %}
        <!-- TODO: 目前只允许第一个导出类型 -->
          <div class="btn-group ">
            <a class="btn btn-default btn-sm" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="true">
              <i class="fa fa-print">
              </i>
                打印
              <i class="fa fa-angle-down">
              </i>
            </a>
            <ul class="dropdown-menu" >
              <li>
                <a href="{{
                  get_url('.export', export_type=admin_view.export_types[1])}}">
                  打印全部
                </a>
              </li>
              <li>
                <a href="{{
                  get_url('.export', export_type=admin_view.export_types[1], export_page=page, export_size=20, search=search)}}">
                  打印当前
                </a>
              </li>
            </ul>
          </div>
        {% endif %}
      {% endif %}

      {% if admin_view.can_export_pdf %}
        <!-- TODO: 目前只允许第一个导出类型 -->
        <a href="{{ get_url('.pdf_view')}}" class="btn btn-default btn-sm">
          <i class="fa fa-print"></i>
          {{ _gettext('Export') }}
        </a>
      {% endif %}


      {# TODO: 先不要显示过滤器，因为有对应项内容中文化的问题 #}
      {#{% if filters %}
        {{ act.filter_options() }}
      {% endif %}#}

        <!-- {% if actions %}
             {{ act.tools_dropdown(actions) }}
             {% endif %} -->
    </div>
    {% endblock %}
  </div>

  {% endblock %}

  <div class="portlet-body">
  {% block model_list_table %}
    {% if filters %}
    <div class="row">
      <div class="col-md-12">
      {{ ctx.filter_form() }}
      </div>
    </div>
    {% endif %}

    {{ custom_lib.render_table(admin_view, list_columns, data, get_value, list_row_actions, get_pk_value, row_actions, num_pages, page, page_size, pager_url) }}
  {% endblock %}

    {% block body_bottom %}
    {% endblock %}
  </div>

</div>

{% endblock %}

{% block tail %}
{{ super() }}

<script>
 jQuery(document).ready(function() {
   $('.popup-link').magnificPopup({
     type: 'image'
   });
 });
</script>
{% endblock %}

